@import '../styles/colors.scss';
@import '../styles/sizes.scss';

:host {
  height: 100%;
}

.top-bar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: $top-bar-height;
  width: 100%;
}

.navigation-bar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  height: $navbar-height;
  width: 100%;
}

.router-container {
  position: fixed;
  top: $top-bar-height;
  left: 0;
  right: 0;
  bottom: $navbar-height;
}



