@import '../styles/colors.scss';
@import '../styles/font-weights.scss';
@import '../styles/sizes.scss';

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 0px;

    ion-range {
        display: block;
        padding-left: 40px;
    }

    .custom-range {
        --bar-background-active: #c6c6c6;
        --bar-background: #b4b4b4;
        --knob-background: white;
        --knob-background-activated: white;

        --pin-background: #7f7f7f;
        --pin-color: white;
    }

    .range-labels {
        padding-top: 22px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200px;
        opacity: 0.7;
        color: $skill-white;
    }
}