@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

:host {
    height: $navbar-height;
    position: relative;
    display: flex;
    z-index: 1;
    background-color: $skill-gray;

    .navigation-container {
        width: 100%;
        padding: 0px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
